<% provide(:title, "Home") %>
<%= render 'layouts/sidemenu', categories: @categories %>
<h1>新着スレッド</h1>
<div class="col-md-9 col-sm-10 col-xs-12">
  <%= render @topics %>
  <%= will_paginate @topics, previous_label: ' &lt ', next_label: ' &gt ' %>
  <%= render 'shared/topic_form' %>
</div>
