<% provide(:title, "ユーザー情報編集") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 sign-form">
      <h2>ユーザー情報編集</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "新規パスワード" %> <i>(変更しない場合は空白)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "新規パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label "現在のパスワード" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn-lg"%>
      </div>
      <% end %>

      <div class="actions">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>

      <%= link_to "Back", :back %>
    </div>
  </div>
 </div>     
