<div class="topic">
  <div class="topic-header">
    <%= link_to topic.title, topic_path(topic) %> (<%= topic.responses.count %>)
  </div>
  <div class="topic-body">
    <%= render 'responses/response', response: topic.responses.first, index: 0 %>
    <% if topic.responses.count != 1 %>
      <%= render 'responses/response', response: topic.responses.last, index: topic.responses.count-1  %>
    <% end %>
  </div>
  <div class="topic-bottom" %>
    <div>
      <%= render 'shared/response_form', topic: topic %>
    </div>
    <div class="topic-bottom__category">
      <% if topic.categories.present? %>
        カテゴリ：
        <% topic.categories.each do |category| %>
          <%= link_to category.title, category_path(category), class: "category-view" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>