<% provide(:title, "検索結果") %>
<%= render 'layouts/sidemenu', categories: @categories %>
<div class="col-md-9 col-sm-10 col-xs-12">
  <h1>検索結果：<%= @keyword %></h1>
  <% if @results.empty? %>
      <h2>見つかりませんでした</h2>
  <% else %>
    <% @results.each do |result| %>
      <%= render 'topics/topic', topic: result %>
    <% end %>
    <%= will_paginate @results, previous_label: ' &lt ', next_label: ' &gt ' %>
  <% end %>
</div>