<% provide(:title, @topic.title) %>
<div class="container">
  <div class="row">
    <h1><%= @topic.title %></h1>
    <div class="category">
      <% if @topic.categories.present? %>
        カテゴリ：
        <% @topic.categories.each do |category| %>
          <%= link_to category.title, category_path(category)%>
        <% end %>
      <% end %>
    </div>
    <% @responses.each_with_index do |response, index| %>
      <%= render 'responses/response', response: response, index: index %>
    <% end %>
    <%= render 'shared/response_form', topic: @topic %>
  </div>
</div>