<div class="response-form">
  <%= form_with model: Response.new do |form| %>
    <div class="field">
      <div>
      　名前
        <%= form.text_field :poster, placeholder: "名無し", class: "form-control" %>
      </div>
      <div>
      　投稿
        <%= form.text_area :content, class: "form-control response-form__content"  %>
      </div>
    </div>
    <div class="btn">
      <%= form.submit "投稿" , class: "btn-lg" %>
    </div>
    <%= form.hidden_field :topic_id, value: topic.id %>
  <% end %>
</div>
  