<div class="topic-form">
  <%= form_with method: :post, url: topics_path do |form| %>
    <div class="field">
      <div>
      　スレッドタイトル(必須)
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div>
      　名前
        <%= form.text_field :poster, placeholder: "名無し", class: "form-control" %>
      </div>
      <div>
      　投稿（必須）
        <%= form.text_area :content, class: "form-control topic-form__content" %>
      </div>
      <div class="checkbox">
        カテゴリ（必須）：<%= form.collection_check_boxes :category_ids, Category.all, :id, :title, class: "form-controlx" %>
      </div>
    </div>
    <div class="btn">
      <%= form.submit "スレッドを作成", class: "btn-lg" %>
    </div>
  <% end %>
</div>
  