<div class="response">
  <div class="response-header">
    <%= index + 1 %> 
    <%= response.poster.presence || "名無し" %>　
    <%= response.created_at %> 
    ID: <%=Digest::MD5.hexdigest(response.user.id.to_s + Time.new.year.to_s + Time.new.month.to_s + Time.new.day.to_s).slice(0..15) %>
  </div>
  <div class="response-body">
    <%= simple_format(response.content) %>
  </div>
</div>