@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.flex {
  display: flex;
}
.container-fluid {
  margin: 0 70px;
}

body {
  padding-top: 120px;
  background: #F5F5F5;
  padding-bottom: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.paginate {
  margin: 0 auto;
  text-align: center;
}
.pagination {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* typography */
.category {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 16px;
  line-height: 1.7em;
}

/* flash */
.notice {
  color: #666666;
  background-color: #D0F0D0;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert {
  color: #666666;
  background-color: #F0D0D0;
}

/* header */
.navbar {
  background-color: #808080;
  padding: 30px;
  border-bottom: 3px solid #777;

  .nav-logo {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
  }
  .navbar-right {
    align-items: center;
  }
  .navbar-right form {
    margin-top: 5px;
  }
  .navbar-right a {
    color: #fff;
    margin-left: 30px;
  }
}

/* sign-up sign-in */
.sign-form {
  background: #fff;
  padding: 10px 30px;
  border-radius: 20px;
  .field {
    margin-top: 20px;
  }
  .actions {
    margin-top: 30px;
    text-align: center;
  }
}

/* topic */
.topic {
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-top: 30px;
  position: relative;

  .topic-header {
    font-weight: bold;
    font-size: 24px;
  }
  .topic-body {
    margin-top: 10px;
  }
  .topic-bottom {
    .topic-bottom__category {
      position: absolute;
      right: 20px;
      bottom: 30px;
      .category-view {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}

/* response */
.response {
  padding-bottom: 30px;
  font-size: 16px;
  .response-header {
    font-weight: bold;
  }
  .response-body {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* topic-form */
.topic-form {
  background-color:  #FCD997;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  border-radius: 20px;

  .field div {
    margin-top: 20px;
  }

  .checkbox {
    input {
      margin-left: 5px;
    }
  }

  .form-control {
    width: 80%;
  }

  .topic-form__content {
    height: 150px;
  }
}

/* response-form */
.response-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  border-radius: 20px;

  .field div {
    margin-top: 20px;
  }

  .form-control {
    width: 80%;
  }

  .response-form__content {
    height: 150px;
  }
}

/* category */
.category p {
  display: inline;
}

/* side-menu */
.sidemenu {
  background-color: #fff;
  margin-top: 130px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 20px;

  .menu-category {
    display: inline-block;
    background: #777;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
  }
}