<% provide(:title, @category.title) %>
<%= render 'layouts/sidemenu', categories: @categories %>
<div class="col-md-9 col-sm-10 col-xs-12">
  <h1><%= @category.title %></h1>
  カテゴリの説明：　<%= @category.content %>
  <%= render @topics %>
  <%= will_paginate @topics, previous_label: ' &lt ', next_label: ' &gt ' %>
</div>