<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "掲示板", root_path, class: "nav-logo" %>
    <nav class="nav navbar-right flex">
      <% if user_signed_in? %>
        <%= render 'layouts/search_form' %>
        <%= link_to "ユーザー情報編集", edit_user_registration_path(current_user), class: "nav-link" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </nav>
  </div>
</header>