<% if user_signed_in? %>
  <div class="col-md-2 col-sm-2 col-xs-12 sidemenu">
    <h2>カテゴリ一覧</h2>
    <% categories.each do |category| %>
      <%= link_to category.title, category_path(category), class: "menu-category" %>
    <% end %>
  </div>
<% end %>