<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title> 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer', class: "footer" %>
  </body>
</html>
